<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="build/styles/root.css">
    <link rel="stylesheet" href="3rdparty/bootstrap.min.css">
    <script type="text/javascript" src="3rdparty/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="3rdparty/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container" id="container">
    </div>
    <script type="text/javascript" src="build/scripts/bundle.js"></script>
  </body>
</html>
